CONFIG_ENABLE_GR4_CORE=y
CONFIG_ENABLE_GR4_INCUBATOR=n
CONFIG_ENABLE_GR4_CONTROL_PLANE=y
# CONFIG_ENABLE_HTTP auto-selected by CONTROL_PLANE
CONFIG_ENABLE_BLOCK_REGISTRY=y
CONFIG_ENABLE_BLOCK_PLUGINS=y
CONFIG_ENABLE_TBB=n
CONFIG_ENABLE_PYTHON=n
CONFIG_ENABLE_AUDIO=n
CONFIG_ENABLE_SDR=y
CONFIG_ENABLE_MIT_ONLY=n
CONFIG_ENABLE_TESTING=y
CONFIG_ENABLE_EXAMPLES=y
CONFIG_ENABLE_COVERAGE=n
CONFIG_WARNINGS_AS_ERRORS=y
CONFIG_TIMETRACE=n
CONFIG_CACHE_CCACHE=y
CONFIG_BUILD_JOBS=4
CONFIG_SANITIZER_NONE=y
CONFIG_USE_FETCHCONTENT=y
CONFIG_USE_SYSTEM_DEPS=n
